@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input{
    border: 0;
    outline: none;
}

button{
    cursor: pointer;
}

img{
    width: 100%;
}


.burger-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: none;
    background: rgb(0, 0, 0, 0.8);
}

.divbig-mob{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: white;
}

.class__link{
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.3s all;
}

.class__link_first{
    color: #4d2b89;
}

.class__link_last{
    margin-bottom: 40px;
}

.class__link:hover{
    text-decoration: underline;
}

.block-divbig{
    margin-left: auto;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s all;
}

.upper-divbig{
    margin-top: 30px;
    margin-left: auto;
    padding: 10px 20px;
    width: auto;
    border-radius: 25px 0 0 25px;
    background: red;
    border: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s all;
}

.back-icon{
    width: 20px;
    height: 20px;
}

.btn__back{
    font-size: 16px;
}


.container__1{
    display: flex;
}

.container__1__part_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 21%;
}

.divlarge{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 195px;
}

.burger-menu{
    padding: 10px 20px;
    display: none;
    gap: 15px;
    border-radius:15px;
    align-items: center;
    background: #FFAE00;
}

.menu-text{
    font-size: 16px;
    font-weight: 500;
}

.burger{
    padding-bottom: 3px;
    background: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}

.divmini h2{
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Nova Script';
    line-height: 28px;
}

.fast{
    color: #FFAE00;
}

.divbig{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 60px;
}

.class1{
    color: #000000;
}

.divbig a{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.class{
    color: #4d2b89;
}

.sc_icons{
    display: flex;
    gap: 20px;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
}

.icons{
    width: 40px;
}

.container__1__part_2{
    display: flex;
    height: 625px;
    width: 31%;
}

.images{
    display: flex;
    gap: 10px;
    position: relative;
    top: 560px;
    left: -330px;
}

.image{
    width: 51px;
    height: 46px;
    border-radius: 10px;
}

.container__1__part_3{
    width: 48%;
}

.register{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 75%;
    width: 105px;
}

.register a{
    text-decoration: none;
    color: black;
}

.part__3__main{
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    margin-top: 60px;

}

.part__3__main h2{
    width: 420px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.links{
    width: 322px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    font-size: 15px;
}

.aaa1{
    color: #4832DC;
}

.aa1{
    color: black;
}

.line{
    width: 20%;
    border: 1px solid blue;
    margin: 15px 0 0 0px;
}

.line2{
    width: 100%;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.4;
}

.mini__part{
    width: 325px;
    margin-right: auto;
    margin-left: auto;
}

.buttons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.courier{
    background-color: #4832DC;
    color: white;
}

.courier:hover{
    background-color: #4506b9;
    color: rgb(237, 231, 231);
    transition: 0.3s;
}

.parcel{
    background-color: #ECECF1;
}

.parcel:hover{
    color: #FFFFFF;
    background: #628e03;
    transition: 0.3s;
}

.buttons button{
    border-radius: 10px;
    width: 155px;
    height: 75px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.buttons button:hover{
    cursor: pointer;
}

.buttons div{
    width: 35px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.your__code{
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}

.enter__password{
    width: 100%;
    height: 45px;
    padding: 13px 15px;
    color: #ABABAB;
    background-color: #F3F3F3;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quiet{
    color: #4832DC;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.quietb{
    text-align: center;
}

.qeshu{
    width: 290px;
    height: 70px;
    background: #FFAE00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 21px;
    color: white;
    margin-top: 30px;
    margin-left: -160px;
    padding-left: 30px;
}

.kvadrat{
    height: 100px;
    width: 70px;
    background: white;
    transform: rotate(30deg);
    position: relative;
    left: 43px;
    top: 21px;
}

.kotta__qeshu{
    display: flex;
    margin-top: 10px;
}

.down{
    width: 42px;
    height: 42px;
    margin-left: 350px;
    margin-top: 30px;
}

.arrows{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.arrows div{
    width: 23px;
}

.bottom__qeshu{
    display: flex;
    padding: 0 35px 0 35px;
}

.way__truck{
    display: flex;
    gap: 25px;
    position: relative;
    left: 15%;
}

.way{
    width: 130px;
    height: 0;
    border: 1px solid #FFAE00;
    margin-top: 35px;
}

.truck{
    width: 55px;
}

.linne{
    width: 130px;
    height: 0;
    border: 1px solid #FFAE00;
    margin-top: 20px;
}

.container__2__head{
    width: 470px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
}

.about{
    font-size: 90px;
    font-weight: 600;
    opacity: 0.06;
}

.container__2__head div{
    display: flex;
    gap: 10px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -50px;
}

.about__us{
    color: #4832DC;
    font-size: 40px;
    font-weight: 600;
}

.about___us{
    font-size: 40px;
    font-weight: 600;
}

.is{
    font-size: 20px;
    margin-top: 10px;
}

.container__2{
    display: flex;
    margin-top: 100px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
}

.container__2__left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.right__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -75px;
}

.ride{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 230px;
}

.right__up{
    width: 190px;
}

.right__bottom{
    width: 135px;
}

.container__2__right{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.describe{
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 29px;
    color: #858585;
}

.down__arrow{
    width: 16px;
    margin-top: -5px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2765C8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.line__dash{
    width: 125px;
    height: 0;
    border: 1px dashed #808080;
}

.circle__line{
    display: flex;
    align-items: center;
    gap: 10px;
}

.line__down{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: -15px;
}

.down__line{
    height: 26px;
    width: 0;
    border: 1px dashed #808080;
}

.right__botttom h2{
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.right__botttom p{
    color: #AAAAAA;
    margin-top: 10px;
}

.right__right__bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.circle2{
    background: #37D679;
}

.circle3{
    background: #FFAE00;
}

.forma{
    width: 600px;
    height: 250px;
    background: #4832DC;
    border-radius: 15px;
    margin-left: -700px;
    opacity: 0.6;
    margin-top: auto;
    margin-bottom: auto;
}

.bigger{
    color: #FFFFFF;
    opacity: 0.18;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.smaller{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    margin-top: -30px;
    margin-left: 40px;
}

.input__one{
    display: flex;
    width: 530px;
    height: 60px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.input__one input{
    border-radius: 10px;
    background: #FFFFFF;
    width: 100%;
    padding-left: 20px;
    padding-right: 165px;
}

.forma button{
    background: #FFAE00;
    width: 135px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: -145px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.input__one button:hover{
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
}

.forma p{
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.rasm{
    width: 100%;
}

.bg__image{
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.container__3__head{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    padding: 40px;
}

.container__3__head div{
    display: flex;
    gap: 10px;
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -50px;
}

.huge__text{
    text-align: center;
    color: #858585;
    line-height: 23px;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
}

.container__3{
    width: 1200px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.boxes{
    width: 52px;
}

.boxx{
    width: 105px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2DEFF;
    border-radius: 7px;
}

.box{
    display: flex;
    gap: 30px;
    align-items: center;
}

.box__txt{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box__txt h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.box__txt p{
    font-size: 15px;
    color: #858585;
    line-height: 24px;
}

.larger__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

.boxx2{
    background: #FCFAC9;
}

.boxx3{
    background: #E2F8D4;
}

.boxx4{
    background: #EBEBEB;
}

.boxx5{
    background: #FFE1F0;
}

.boxx6{
    background: #D5F4F8;
}

.sa{
    margin-left: 0;
}

.container__5{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background: #F5F3F9;
    padding-bottom: 1px;
    margin-top: 150px;
}

.mask{
    width: 455px;
}

.div__image{
    width: 265px;
}

.container__5__inside{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.container__5__right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__5__right__mini{
    display: flex;
    gap: 40px;
}

.container__5 a{
    color: #281B7B;
    text-decoration: none;
    font-size: 18px;
}

.oollkk{
    width: 140px;
    margin: 50px auto 51px auto;
    margin-bottom: 50px;
}

.container__4{
    width: 100%;
    display: flex;
    margin-top: 160px;
}

.delivery{
    width: 495px;
    height: 275px;
    background: #4832DC;
    position: relative;
    z-index: 1;
}

.delivery img{
    margin-top: -74px;
    margin-left: 50px;
}

.how{
    display: flex;
    gap: 10px;
}

.how h2{
    font-size: 40px;
    font-weight: 600;
}

.color{
    color: #4832DC;
}

.paragr p{
    font-size: 20px;
    text-align: center;
}

.txt__bla__bla{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.class01{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 2px 10px;
    background: #FFFFFF;
    margin-top: -25px;
}

.delivery__one{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #4832DC;
    padding-bottom: 20px;
    align-items: center;
    width: 33.4%;
}

.delivery__one h2{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.delivery__one p{
    font-size: 14px;
    color: white;
    text-align: center;
}

.delivery__right__bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.delivery__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66.1%;
}

.one1{
    background: #37D679;
}

.one2{
    background: #FFAE00;
}

.img__photos{
    display: flex;
    align-items: center;
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
}

.baba{
    width: 110px;
}

.boys{
    width: 130px;
}

.opoqi{
    width: 180px;
}

.tetya{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vergul{
    width: 70px;
    margin-top: -55px;
}

.container__6__main{
    background: #281B7B;
    text-align: center;
    border-radius: 15px;
    padding: 0px 90px 0px 90px;
    width: 100%;
}

.container__6__main p{
    font-size: 16px;
    color: white;
    font-weight: 300;
    margin-top: 130px;
}

.container__6__main h2{
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}

.arrow__signs{
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 2px 20px;
    width: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    position: relative;
    bottom: -25px;
}

.sign{
    border-radius: 50%;
    padding: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3D3D3;
    transition: 0.1s all;
}

.sign:hover{
    background: #c0bebe;
    padding: 19px;
    cursor: pointer;
}

.sign:active{
    padding: 20px;
}

.sign1{
    transform: rotate(0.5turn);
}

.container__6{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.footer{
    margin-top: 80px;
    width: 100%;
    background: #18104A;
    display: flex;
    flex-direction: column;
}

.upper__footer{
    padding: 45px 60px 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.upper__footer1{
    width: 400px;
}


.fast__delivery{
    display: flex; 
    gap: 10px;  
    text-transform: uppercase;
    font-family: 'Nova Script';
}

.footer__description{
    margin-top: 50px;
    color: white;
    font-size: 18px;
    line-height: 1.4;
}

.mini__footer2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.money_titles{
    display: flex;
    flex-direction: column;
}

.money_titles h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.money_titles a{
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.2s all;
}

.money_titles a:hover{
    opacity: 1;
}

.upper__footer3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.upper__footer_apart{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social{
    font-size: 22px;
    color: white;
}

.social__medias{
    display: flex;
    gap: 10px;
}

.icon__medias{
    width: 50px;
}

.ic_last{
    padding: 6px 8px 10px 8px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
}

.lower__footer{
    padding: 20px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #10093B;
}

.lower__footer_txt{
    font-size: 16px;
    color: white;
}

.lower__footer_right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.question__mark{
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #EDA306;
}

.question__mark img{
    width: 100%;
    height: 100%;
}

.lower__footer_right p{
    font-size: 16px;
    color: #EDA306;
}